[submodule "project_stubs/python/arithmetic-exam-application"]
	path = project_stubs/python/arithmetic-exam-application
	url = https://github.com/c-c-k/zzz-proj-stub--arithmetic-exam-application
[submodule "project_stubs/python/currency-converter"]
	path = project_stubs/python/currency-converter
	url = https://github.com/c-c-k/zzz-proj-stub--currency-converter
[submodule "project_stubs/python/learning-progress-tracker"]
	path = project_stubs/python/learning-progress-tracker
	url = https://github.com/c-c-k/zzz-proj-stub--learning-progress-tracker
[submodule "project_stubs/python/simple-chatty-bot"]
	path = project_stubs/python/simple-chatty-bot
	url = https://github.com/c-c-k/zzz-proj-stub--simple-chatty-bot
[submodule "project_stubs/sql/hacker-attack"]
	path = project_stubs/sql/hacker-attack
	url = https://github.com/c-c-k/zzz-proj-stub--hacker-attack
[submodule "project_stubs/sql/school-of-wizards-and-magic-wars"]
	path = project_stubs/sql/school-of-wizards-and-magic-wars
	url = https://github.com/c-c-k/zzz-proj-stub--school-of-wizards-and-magic-wars
[submodule "project_stubs/sql/video-game-db"]
	path = project_stubs/sql/video-game-db
	url = https://github.com/c-c-k/zzz-proj-stub--video-game-db
[submodule "project_stubs/flask/weather-app"]
	path = project_stubs/flask/weather-app
	url = https://github.com/c-c-k/zzz-proj-stub--weather-app
[submodule "project_stubs/bash/simple-calculator"]
	path = project_stubs/bash/simple-calculator
	url = https://github.com/c-c-k/zzz-proj-stub--simple-calculator
[submodule "scratchpad/git_and_github/github-actions"]
	path = scratchpad/git_and_github/github-actions
	url = https://github.com/c-c-k/zzz-scratchpad--github-actions
[submodule "project_stubs/python/memorization-tool"]
	path = project_stubs/python/memorization-tool
	url = https://github.com/c-c-k/zzz-proj-stub--memorization-tool
[submodule "project_stubs/python/to-do-list"]
	path = project_stubs/python/to-do-list
	url = https://github.com/c-c-k/zzz-proj-stub--to-do-list
[submodule "project_stubs/python/calculator-for-investors"]
	path = project_stubs/python/calculator-for-investors
	url = https://github.com/c-c-k/zzz-proj-stub--calculator-for-investors
[submodule "scratchpad/react/react101"]
	path = PitOfDespair/FaceOfHate/react/react101
	url = https://github.com/c-c-k/zzz-jbm--react101
[submodule "project_stubs/react/tic-tac-toe"]
	path = PitOfDespair/FaceOfHate/react/tic-tac-toe
	url = https://github.com/c-c-k/zzz-tutorial--react-tic-tac-toe
[submodule "scratchpad/fastapi/tutorial-official"]
	path = scratchpad/fastapi/tutorial-official
	url = https://github.com/c-c-k/zzz-tutorial--fastapi-official
[submodule "PitOfDespair/flights-project"]
	path = PitOfDespair/flights-project
	url = https://github.com/c-c-k/zzz-despair--flights-project
[submodule "PitOfDespair/J.B.Mediatech"]
	path = PitOfDespair/J.B.Mediatech
	url = https://github.com/c-c-k/zzz--JBM-studies
[submodule "PitOfDespair/books-library/2"]
	path = PitOfDespair/books-library/2
	url = https://github.com/c-c-k/zzz-despair--books-library
