<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>custom form</title>
  </head>
  <body>
    <div>
      <h2>Custom form with default formatting (table)</h2>
      <form method="post">
        {% csrf_token %}
        <table>{{ form }}</table>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Custom form as table</h2>
      <form method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Custom form as paragraph</h2>
      <form method="post">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Custom form as unordered list</h2>
      <form method="post">
        {% csrf_token %}
        <ul>{{ form.as_ul }}</ul>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <a href="{% url "hypergift:index" %}">Back to Hypergift index</a>
    </div>
  </body>
</html>