<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>model form</title>
  </head>
  <body>
    <div>
      <h2>Model form without extra formatting</h2>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Model form as table</h2>
      <form method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Model form as paragraph</h2>
      <form method="post">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Model form as unordered list</h2>
      <form method="post">
        {% csrf_token %}
        <ul>{{ form.as_ul }}</ul>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>