<link rel="stylesheet" href="style.css">
<!-- write your code below -->
{% extends "blog/base.html" %}
{% block content %} {% include "blog/contact-form.html" %} {% endblock %}
<!-- -=- HTML END -=- -->
<!-- Jet Brains Academy topic question solution.
-=- CHECK LIST -=-
Inherit from base template: "base.html"
Load contact form template: "contact-form.html"
-=- CHECK LIST -=-

-=- QUESTION BODY -=-
Question text censored.
-=- QUESTION BODY -=-

Topic category: Computer science -> Backend -> Django -> Templates
Topic name: Django template inheritance
Question name: Loading a template
Question rating: Easy
-->
