<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>request test</title>
  </head>
  <body>
    <div>
      <form method="post">
        <input type="text" name="text_input">
        <input type="checkbox" name="cb_input">
        <input type="submit" name="sub">
      </form>
    </div>
    <hr>
    <div>
      <form method="get">
        <input type="search" name="search_input">
        <input type="submit" name="sea sub">
      </form>
    </div>
    <div>
      <p>{{ method }}args are:</p>
      <ul>
        {% for arg in args %}
          <li>{{ arg }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>